@import url('https://fonts.googleapis.com/css?family=PT+Sans|Poppins');

hr {
  background-color: rgb(128, 128, 128);
}

body {
  background: rgb(37, 40, 48);
  color: #EAEAEA;
  font-family: 'PT Sans', sans-serif;
}

.title {
  font-family: 'Poppins', sans-serif;
}

.card-test {
  background: rgb(67, 72, 87);
}

.list-bg {
  background: #333;
}

.btn-blue {
  background: rgb(25, 151, 198);
  color: #EAEAEA;
}

.blue-bg {
  background: rgb(25, 151, 198);
}

.nav-bg {
  background: #fff;
}

.nav-text > li > a{
  color: red;
}

.twitch-purple{
  background: #6441A4;
}

.warning {
  font-weight: bold;
  color: rgb(208, 77, 77);
}
